<article class="post">
      <div class="title">
        <h3>{{title}}</h3>
        <span>{{post_content}}</span>
      </div>
      <div class="meta">
        Posted by {{user.username}} on
        {{format_date createdAt}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>
    </article>