<article>
  <h2 class="titlebtmBdr">
    Edit Convo
  </h2>
  <form class="edit-post-form">
    <div>
      <h3>Book Title</h3>
      <input class="input" name="post-title" type="text" value="{{post.title}}" />
      </br>
      <h3>Content</h3>
      <input class="input" name="post-content" type="text" value="{{post.post_content}}" />
    </div>
    <div>
      Posted by you on {{format_date post.createdAt}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit">Save Convo</button>
    <button type="button" class="delete-post-btn">Delete Convo</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea class="input" name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>